!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!                                 XRES CONFIG                                 !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
urxvt*cursorUnderline:  1
urxvt*cursorBlink:      false
urxvt*scrollBar:        false
urxvt*depth:            32
urxvt*internalBorder:   8
urxvt*dynamicColors:    on
URxvt.letterSpace:      -1

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!                                    FONTS                                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
URxvt*font:           -*-envypn-Medium-R-*-*-13-*-*-*-*-*-ISO8859-1
URxvt*boldFont:       -*-envypn-Medium-R-*-*-13-*-*-*-*-*-ISO8859-1
URxvt*italicFont:     -*-envypn-Medium-R-*-*-13-*-*-*-*-*-ISO8859-1
URxvt*boldItalicFont: -*-envypn-Medium-R-*-*-13-*-*-*-*-*-ISO8859-1

Xft.dpi:        96
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!                                   COLORS                                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#include        </home/matheus/.xresources/gruvbox>

*background:    bg
*foreground:    fg
*.cursorColor:  fg

*color0:        blk
*color8:        bblk

*color1:        red
*color9:        bred

*color2:        grn
*color10:       bgrn

*color3:        ylw
*color11:     	bylw

*color4:      	blu
*color12:     	bblu

*color5:      	mag
*color13:     	bmag

*color6:      	cyn
*color14:     	bcyn

*color7:      	wht
*color15:     	bwht

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!                                 ROFI CONFIG                                 !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
rofi.color-window:    bg, bg, bg
rofi.color-normal:    bg, fg, bg, red, fg
rofi.color-active:    bg, fg, bg, bg, bg
rofi.color-urgent:    bg, red, bg, red, fg

rofi.font:            lemon 8
rofi.lines:           10
rofi.width:           30
rofi.location:        2
rofi.yoffset:         30
rofi.padding:         10
rofi.terminal:        urxvt
rofi.hide-scrollbar:  true
rofi.modi:            run,drun
