@import url('file:///home/matheus/.mozilla/colors.css');
@-moz-document url("http://192.168.88.245/homepage"), url(about:newtab) {
	body{
		background-color: var(--bg) !important;
		color: #000000 !important;
		overflow: hidden !important;
	}
}
